insmod vbe
insmod gfxterm
#insmod vga


menuentry 'Graphical Mode' {
    multiboot2 /boot/kernel.elf
    set gfxpayload=text
    boot
}
menuentry 'Graphical Mode2' {
    set gfxmode=auto
    set gfxpayload=1keep
    multiboot2 /boot/kernel.elf

    boot
}
